{
  "accessKey": "",
  "secretAccessKey": "",
  "bucket": "",
  "type": "image/png",
  "directory": "/Users/my-username/Desktop",
  "prefix": "Screen Shot",
  "autoOpen": false,
  "deleteAfterUpload": true,
  "scaleImages": true,
  "playSound": true,
  "notification": true,
  "soundFile": "/System/Library/Sounds/Glass.aiff"
}
